# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', 10)
jeopardy = pd.read_csv('jeopardy.csv')
display(jeopardy.head())

print()

#rename the columns
jeopardy.rename(columns={'Show Number': 'show_number', ' Air Date': 'air_date', ' Round': 'round', ' Category': 'category', ' Value': 'value', ' Question': 'question', ' Answer': 'answer'}, inplace=True)
display(jeopardy.head(15))

   Show Number   Air Date      Round   Category  Value   Question     Answer
0       4680    2004-1...  Jeopardy!    HISTORY   $200  For th...  Copern...
1       4680    2004-1...  Jeopardy!  ESPN's...   $200  No. 2:...  Jim Th...
2       4680    2004-1...  Jeopardy!  EVERYB...   $200  The ci...    Arizona
3       4680    2004-1...  Jeopardy!  THE CO...   $200  In 196...  McDona...
4       4680    2004-1...  Jeopardy!  EPITAP...   $200  Signer...  John A...

    show_number   air_date      round   category value   question     answer
0        4680    2004-1...  Jeopardy!    HISTORY  $200  For th...  Copern...
1        4680    2004-1...  Jeopardy!  ESPN's...  $200  No. 2:...  Jim Th...
2        4680    2004-1...  Jeopardy!  EVERYB...  $200  The ci...    Arizona
3        4680    2004-1...  Jeopardy!  THE CO...  $200  In 196...  McDona...
4        4680    2004-1...  Jeopardy!  EPITAP...  $200  Signer...  John A...
5        4680    2004-1...  Jeopardy!  3-LETT...  $200  In the...    the ant
6        4680    2004-1...  Jeopardy!    HISTORY  $400  Built ...  the Ap...
7        4680    2004-1...  Jeopardy!  ESPN's...  $400  No. 8:...  Michae...
8        4680    2004-1...  Jeopardy!  EVERYB...  $400  In the...  Washin...
9        4680    2004-1...  Jeopardy!  THE CO...  $400  This h...  Crate ...
10       4680    2004-1...  Jeopardy!  EPITAP...  $400  "And a...  Jackie...
11       4680    2004-1...  Jeopardy!  3-LETT...  $400  Cows r...    the cud
12       4680    2004-1...  Jeopardy!    HISTORY  $600  In 100...  Ceylon...
13       4680    2004-1...  Jeopardy!  ESPN's...  $600  No. 1:...  Jim Brown
14       4680    2004-1...  Jeopardy!  EVERYB...  $600  On Jun...  the UV...

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
words_filter = lambda word_list: jeopardy[jeopardy.question.apply(lambda quest: any(word.lower() in quest.lower().split() for word in word_list))]

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
words = ['King', 'England']
test_words = words_filter(words)
print(len(test_words))

2790

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
jeopardy.value = jeopardy.value.apply(lambda row: row.replace('$', '').replace(',','') if row != 'no value' else 0)
jeopardy.value = jeopardy.value.apply(lambda row: float(row))
print(jeopardy.value.head(10))

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
5    200.0
6    400.0
7    400.0
8    400.0
9    400.0
Name: value, dtype: float64

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
words = ['King']
test_words = words_filter(words)
print(len(test_words))
print(test_words.answer.value_counts())

2075
answer
Henry VIII     41
Sweden         24
Solomon        23
Norway         22
Richard III    21
               ..
High priest     1
Farouk          1
turn            1
brotherhood     1
Aragon          1
Name: count, Length: 1165, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [7]:
#1
words = ['Computer']
jeopardy.air_date = pd.to_datetime(jeopardy.air_date)
jeopardy['year'] = jeopardy['air_date'].dt.year
filter_word_computer = words_filter(words)
group_year = filter_word_computer.groupby('year').answer.count()
print(group_year)

print()

#2
group_by_round = jeopardy.groupby('category').value.value_counts().reset_index(name='count')
search = group_by_round[(group_by_round['value'] == 200.0) | (group_by_round['value'] == 400.0)]
result = search[search['category'] == 'LITERATURE']
print(result)

year
1984     1
1986     1
1987     1
1988     1
1989     1
1990     3
1991     1
1993     1
1995     2
1996     4
1997    16
1998    15
1999    24
2000    22
2001    11
2002     9
2003    15
2004    17
2005    23
2006    26
2007    28
2008    21
2009    25
2010    25
2011    18
2012     4
Name: answer, dtype: int64

        category  value  count
75929  LITERA...  400.0     93
75930  LITERA...  200.0     82

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.